.home {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column-reverse;

    .homepage-image-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.8;
        // max-width: 50%;

        img {
            max-width: 500px;
        }
    }

    .homepage-text-container {
        width: 45%;
        overflow: hidden;
        animation: typeIt 8s steps(40) infinite;
        max-height: 200px;

        p {
            font-size: 1.2em;
            line-height: 2em;
            margin: 0; // Turn off margin bottom to make typing animation easier
            text-indent: 2em; // give it indents for first line
            text-align: center;
        }

        .text-cover {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2em;
            background: #fff;
            width: 100%;
            animation: revealLine 320s steps(40) infinite;
        }

        @keyframes revealLine {
            0% {
                left: 0%;
            }

        }

        @keyframes typeIt {
            0% {
                top: 0;
                height: 2em;
            }

            100% {
                top: -60em;
                height: 82em;
            }
        }
    }
}