.left-side {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 80%;

  .my-img-container {
    padding-right: 20px;
    height: 100%;

    img {
      border-radius: 10%;
      margin-top: 10px;
      max-width: 100%;
      height: auto;
      object-fit: fill;

    }
  }

  .about-text {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-variant-ligatures: none;
    padding-right: 20px;

    h1,
    h2,
    p {
      padding: 2px;
      font-family: Raleway;
      color: #282a2b;

    }

    h1 {
      font-size: 26px;
      font-weight: bold;
      font-style: normal;
      line-height: 26px;
    }

    h2,
    p {
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      line-height: 12px;
    }

    p {
      line-height: 30px;
      margin-bottom: 0;
    }
  }

  .social-media-and-links {

    .social-media {
      width: 50px;
      height: 50px;
      display: flex;
      text-align: center;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 15px;

      .icon {
        padding: 7px;
        width: 80%;
        height: 80%;

        .pdf {
          width: auto;
        }
      }
    }

  }

  .nav {
    h2 {
      padding: 2px;
      font-family: Raleway;
      color: #282a2b;
    }
  }
}

@include for-tablet-layout {
  .left-side {
    .my-img-container {
      img {
        height: 100%;
      }
    }

  }
}

@include for-mobile-layout {
  .left-side {
    max-height: 100vh;

    .my-img-container {
      // max-width: 250px;
      // max-height: 250px;
      // background-color: pink;

      img {}
    }

  }
}