.card-container {
  .flashcard-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;


    .card-container {
      list-style: none;
      margin-right: 20px;
      height: 100%;

      .card:hover {
        font-weight: bold;
        font-size: large;
        opacity: 0.8;
        transition: .5s;
        color: rgb(36, 35, 35);
        border: 1px #D0D0D0 solid;
        background: rgb(134, 139, 142);
        background: linear-gradient(164deg, rgba(134, 139, 142, 1) 0%, rgba(185, 183, 189, 1) 100%);

      }

      .card {
        width: 100%;
        height: 100%;
        padding: 10px;
        border: 1px #D0D0D0 solid;
        border-radius: 26px;
        text-align: center;
        color: $clr3;

        .front-card {
          overflow: hidden;
          height: 100%;
        }

        .back-card {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-direction: column;

          .img-container {
            padding: 5px;
            // min-height: 200px;

            img {
              opacity: 0.8;
              border-radius: 8px;
              max-width: 100%;
              height: auto;
              display: block;
              // margin-left: auto;
              // margin-right: auto;
            }
          }

          .tecnical-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 10px;

            li {
              text-align: center;
              margin: 5px;
            }
          }
        }

        .link-container {
          button {
            border-radius: 20px;
            font-size: larger;
            padding: 5px;
            text-align: center;
            font-family: Raleway;
            // min-width: 80px;
            background-color: $clr4;
          }
        }
      }


    }
  }

}

@include for-tablet-layout {
  .card-container {
    .flashcard-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include for-mobile-layout {
  .card-container {
    .flashcard-list {
      grid-template-columns: repeat(1, 0.5fr);
    }
  }
}