@font-face {
    font-family: Raleway;
    src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
}

@font-face {
    font-family: Opensans;
    src: url(~@/assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: GreatVibes;
    src: url(~@/assets/fonts/GreatVibes/GreatVibes-Regular.ttf);
}